body {
    font-family: Arial, sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .carousel-item img {
    max-height: 650px;
    object-fit: cover;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  

  /* Form styles */

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  resize: vertical;
  transition: border-color 0.3s ease;
}


button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
  width: 100%;
  max-width: 100%;
}

button[type="submit"]:hover /*Pseudo-class*/
{
  background-color: #45a049;
  transform: scale(1.02);
}